<app-topbar/>
<meta charset="UTF-8">
<body>
<!--大框-->
  <div>
    <!--页面头-->
    <div class="about">
      <h1>About us!</h1>
      <p>Hi! Welcome to know about DL2~</p>
    </div>
    <hr>
    <!--照片大框-->
    <div class="container">
      <div class="left-side">
        <div class="left-above">
          <a href="https://about-p.s3.amazonaws.com/chen.html">
            <img id="CHEN" src="https://about-p.s3.amazonaws.com/IMG_7492.PNG" alt="CHEN" width="593.12" height="371.36"/>
          </a>
        </div>
        <div class="left-below">
          <a href="https://about-p.s3.amazonaws.com/yu.html">
            <img id="YU" src="https://about-p.s3.amazonaws.com/IMG_7493.PNG" alt="YU" width="593.12" height="371.36"/>
          </a>
          <div class="ltext">
            <h2>Teamwork</h2>
            <p>
              Backend Logic,  Architectural Design,<br>
              Data Analysis,  Database,<br>
              Requirement Analysis,  UI Design ,<br>
              Web Crawling,  DevOps......
            </p>
          </div>
        </div>
      </div>
      <div class="right-side">
        <div class="right-above">
          <div class="rtext">
          <h2>Different background</h2>
          <p>
            Software Engineering,<br>
            Computer Science,<br>
            Data Science,<br>
            School of Electronic Information......
          </p>
          </div>
          <div class="photo">
          <a href="https://about-p.s3.amazonaws.com/shen.html">
            <img id="SHEN" src="https://about-p.s3.amazonaws.com/IMG_7494.PNG" alt="SHEN" width="593.12" height="371.36"/>
          </a>
          </div>
        </div>
        <div class="right-below">
          <a href="https://about-p.s3.amazonaws.com/xiong.html">
            <img src="https://about-p.s3.amazonaws.com/IMG_7496.PNG" alt="XIONG" width="593.12" height="371.36"/>
          </a>
        </div>
      </div>
      </div>
    </div>
    <!--页面尾-->
    <div>
      <div class="foot">
        <p>
          Group DL2, 2023<br>
          -----------------Deep Learning Learning Platform----------------<br>
          【&#64;Chen, &#64;Shen, &#64;Yu, &#64;Xiong】
        </p>
      </div>
  </div>

</body>
