<app-topbar />
<meta charset="UTF-8">
<body>
<!--大框-->
  <div>
    <!--页面头-->
    <div class="about">
      <h1>About us!</h1>
      <p>Hi! Welcome to know about DL2~</p>
    </div>
    <hr>
    <!--照片大框-->
    <div class="container">
      <div class="left-side">
        <div class="left-above">
          <a href=""
            <img id="CHEN" src="https://about-p.s3.amazonaws.com/XIONG.jpg" alt="CHEN" width="593.12" height="371.36"/>
          </div>
        </div>
        <div class="left-below">
          <a href="http://localhost:63342/DL2/frontend/src/app/about/yu.html?_ijt=2n3eol98va2tir9du66l311375&_ij_reload=RELOAD_ON_SAVE">
            <img id="YU" src="https://about-p.s3.amazonaws.com/XIONG.jpg" alt="YU" width="593.12" height="371.36"/>
          </a>
          <div class="ltext">
            <h2>Teamwork</h2>
            <p>
              Backend Logic,  Architectural Design,<br>
              Data Analysis,  Database,<br>
              Requirement Analysis,  UI Design ,<br>
              Web Crawling,  DevOps......
            </p>
          </div>
        </div>
      </div>
      <div class="right-side">
        <div class="right-above">
          <div class="rtext">
          <h2>Different background</h2>
          <p>
            Software Engineering,<br>
            Computer Science,<br>
            Data Science,<br>
            School of Electronic Information......
          </p>
          </div>
          <div class="photo">
          <a href="http://localhost:63342/DL2/frontend/src/app/about/shen.html?_ijt=tvaf1qq95p6phhi45ofuncu1g6&_ij_reload=RELOAD_ON_SAVE">
            <img id="SHEN" src="https://about-p.s3.amazonaws.com/XIONG.jpg" alt="SHEN" width="593.12" height="371.36"/>
          </a>
          </div>
        </div>
        <div class="right-below">
          <a href="http://localhost:63342/DL2/frontend/src/app/about/xiong.html?_ijt=3tp5bn04ge9bf6fqreu3um29r&_ij_reload=RELOAD_ON_SAVE">
            <img src="https://about-p.s3.amazonaws.com/XIONG.jpg" alt="XIONG" width="593.12" height="371.36"/>
          </a>
        </div>
      </div>
      </div>
    </div>
    <!--页面尾-->
    <div>
      <div class="foot">
        <p>
          Group DL2, 2023<br>
          -----------------Deep Learning Learning Platform----------------<br>
          【@Chen, @Shen, @Yu, @Xiong】
        </p>
      </div>
  </div>

</body>
