<div class="overlay" *ngIf="this.searching">searching...</div>

<div
  class="overlay"
  *ngIf="
    !this.searching &&
    ((this.mode == 'papers' && !this.papers.length) ||
      (this.mode == 'qa' && !this.answer.length))
  "
>
  The result is empty.
</div>

<div
  class="overlay"
  *ngIf="this.mode == 'qa' && !this.searching && this.answer.length"
>
  <div class="overlay-answer">
    <markdown katex [data]="this.answer"></markdown>
  </div>
</div>

<div
  class="overlay"
  *ngIf="this.mode == 'papers' && !this.searching && this.papers.length"
>
  <div
    class="overlay-paper"
    *ngFor="let paper of papers"
    (click)="openPaper(paper.arxivId)"
  >
    <h3 class="overlay-paper-title" [innerHTML]="paper.title"></h3>
    <div class="overlay-authors">
      <span *ngFor="let author of paper.authors; index as i">
        <i>{{ author }}</i
        ><span *ngIf="i != paper.authors.length - 1">,&nbsp;</span>
      </span>
    </div>
    <div class="overlay-methods" *ngIf="paper.methods.methodName.length">
      <span class="overlay-method-desc">Uses:</span>
      <span *ngFor="let method of paper.methods.methodName; index as i">
        <span>{{ method }}</span
        ><span *ngIf="i != paper.methods.methodName.length - 1">,&nbsp;</span>
      </span>
    </div>
    <div class="overlay-tasks" *ngIf="paper.tasks.taskName.length">
      <span class="overlay-method-desc">Used for:</span>
      <span *ngFor="let task of paper.tasks.taskName; index as i">
        <span>{{ task }}</span
        ><span *ngIf="i != paper.tasks.taskName.length - 1">,&nbsp;</span>
      </span>
    </div>
  </div>
</div>
