<div
  class="paper {{ accent ? 'accent' : '' }}"
  *ngFor="let paper of papers"
  (click)="openPaper(paper.arxivId)"
>
  <h3
    class="paper-title"
    [innerHTML]="paper.title | highlightCapitalized : 'royalblue'"
  ></h3>
  <div class="authors">
    <span *ngFor="let author of paper.authors; index as i">
      <i>{{ author }}</i
      ><span *ngIf="i != paper.authors.length - 1">,&nbsp;</span>
    </span>
  </div>
  <div class="methods" *ngIf="paper.methods.methodName.length">
    <span class="method-desc">Uses:</span>
    <span *ngFor="let method of paper.methods.methodName; index as i">
      <span>{{ method }}</span
      ><span *ngIf="i != paper.methods.methodName.length - 1">,&nbsp;</span>
    </span>
  </div>
  <div class="tasks" *ngIf="paper.tasks.taskName.length">
    <span class="method-desc">Used for:</span>
    <span *ngFor="let task of paper.tasks.taskName; index as i">
      <span>{{ task }}</span
      ><span *ngIf="i != paper.tasks.taskName.length - 1">,&nbsp;</span>
    </span>
  </div>
</div>
