<app-loading *ngIf="this.loading"></app-loading>
<app-topbar *ngIf="!this.loading" />
<main *ngIf="!this.loading" class="container">
  <h1 [innerHTML]="this.paper.title | highlightCapitalized : 'royalblue'"></h1>
  <span class="arxiv-and-star">
    <i class="arxiv-id" (click)="gotoArxiv()"
      >arxiv: {{ this.paper.arxivId }}</i
    >
    <button (click)="toggleFav()" *ngIf="this.authorized">
      <mat-icon
        *ngIf="!fav"
        [style]="{
          color: '#ccc'
        }"
        >star_border</mat-icon
      >
      <mat-icon
        *ngIf="fav"
        [style]="{
          color: 'gold'
        }"
        >star</mat-icon
      >
    </button>
  </span>
  <p class="abs">{{ this.paper.abs }}</p>
  <div class="authors">
    <h2 class="title">Authors</h2>
    <span *ngFor="let author of this.paper.authors; index as i" class="author">
      <i>{{ author }}</i
      ><span *ngIf="i != this.paper.authors.length - 1">, </span>
    </span>
  </div>
  <div class="tasks" *ngIf="this.paper.tasks.taskName.length">
    <h2 class="title">Tasks</h2>
    <div class="pop-content">
      <span
        *ngFor="let task of this.paper.tasks.taskName; index as i"
        [ngStyle]="{
          background: paper.methodColors[i],
          color: 'whitesmoke',
          padding: '0.5rem 0.8rem',
          margin: '0.5rem',
          'border-radius': '2rem'
        }"
        (click)="gotoTask(task)"
      >
        {{ task }}
      </span>
    </div>
  </div>
  <div class="methods" *ngIf="this.paper.methods.methodName.length">
    <h2 class="title">Methods</h2>

    <div class="pop-content">
      <span
        *ngFor="let method of this.paper.methods.methodName; index as i"
        [ngStyle]="{
          background: paper.methodColors[i],
          color: 'whitesmoke',
          padding: '0.5rem 0.8rem',
          margin: '0.5rem',
          'border-radius': '2rem'
        }"
        (click)="gotoMethod(method)"
      >
        {{ method }}
      </span>
    </div>
  </div>
  <div class="codes">
    <h2 class="title">Codes</h2>
    <div *ngFor="let task of this.paper.codes; index as i" class="code">
      <a class="url" [href]="task.url" [innerHTML]="task.shortened"></a>
      <div class="rating">{{ task.rating }}</div>
    </div>
  </div>
  <div class="related" *ngIf="this.relatedPapers.length">
    <h2 class="title">Related Papers</h2>
    <app-paper-info [papers]="this.relatedPapers"></app-paper-info>
  </div>
</main>
