main {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 80vw;
  left: 10vw;
  top: 10vh;
  align-items: flex-start;
  justify-self: unset;
  min-height: 200vh;
}


h1,
h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: -.5px;
}

h1 {
  font-size: 1.8rem;
  background: linear-gradient(to right, rgba(gainsboro, .5), transparent);
}

h2 {
  font-size: 1.6rem;
}

.arxiv-and-star {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .arxiv-id {
    margin-right: 1em;
    font-size: .9em;
    color: #777;
    text-decoration: underline;
    transition: all .3s ease-out;

    &:hover {
      color: royalblue;
      cursor: pointer;
    }
  }
}



.colorized {
  color: royalblue;
}

.author i {
  font-family: Arial, Helvetica, sans-serif;
  transition: all .2s ease-out;
  font-size: large;

  &:hover {
    color: royalblue;
    text-decoration: underline;
    cursor: pointer;
  }
}

.tasks .task,
.methods .method {

  .task-name,
  .method-name {
    font-size: large;
    margin-left: .5em;
  }
}

.codes {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .code {
    display: flex;
    flex-direction: row;
    margin: .5em 0;

    .url {
      color: #777;
      text-decoration: none;
      transition: all .2s ease-out;

      &:hover {
        color: royalblue;
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .rating {
      margin-left: 1em;
    }
  }
}


