<app-loading *ngIf="this.loading"></app-loading>
<app-topbar *ngIf="!this.loading" />
<main *ngIf="!this.loading" class="container">
  <h1 [innerHTML]="this.paper.title | highlightCapitalized : 'royalblue'" class="p-2"></h1>
  <span class="arxiv-and-star mt-4 mb-10">
    <i class="arxiv-id" (click)="gotoArxiv()"
      >arxiv: {{ this.paper.arxivId }}</i
    >
    <button (click)="toggleFav()" *ngIf="this.authorized">
      <mat-icon
        *ngIf="!fav"
        [style]="{
          color: '#ccc'
        }"
        >star_border</mat-icon
      >
      <mat-icon
        *ngIf="fav"
        [style]="{
          color: 'gold'
        }"
        >star</mat-icon
      >
    </button>
  </span>
  <div class="abstract">
    <h2 class="absolute w-fit py-2 px-4 translate-x-10 border-solid border-2 border-blue-500 bg-white z-10">Abstract</h2>
    <p class="abs font-mono text-lg relative mt-8 px-4 pt-10 pb-6 border-dashed border-2 border-blue-300">{{ this.paper.abs }}</p>
  </div>
  <div *ngIf="this.authorized && this.tldr.length" class="abstract mt-10">
    <h2 class="absolute w-fit py-2 px-4 translate-x-10 border-solid border-2 border-slate-500 bg-white z-10">Fun Facts</h2>
    <p class="abs font-mono text-lg relative mt-8 px-4 pt-10 pb-6 border-dashed border-2 border-blue-300"><markdown katex>{{ this.tldr }}</markdown></p>
  </div>
  <div class="authors mt-10">
    <h2 class="title mb-2">Authors</h2>
    <span *ngFor="let author of this.paper.authors; index as i" class="author">
      <i>{{ author }}</i
      ><span *ngIf="i != this.paper.authors.length - 1">, </span>
    </span>
  </div>
  <div class="tasks mt-10" *ngIf="this.paper.tasks.taskName.length">
    <h2 class="title mb-2">Tasks</h2>
    <div class="pop-content">
      <span
        *ngFor="let task of this.paper.tasks.taskName; index as i"
        [ngStyle]="{
          background: paper.taskColors[i],
        }"
        (click)="gotoTask(task)"
      >
        {{ task }}
      </span>
    </div>
  </div>
  <div class="methods mt-10" *ngIf="this.paper.methods.methodName.length">
    <h2 class="title mb-2">Methods</h2>
    <div class="pop-content">
      <span
        *ngFor="let method of this.paper.methods.methodName; index as i"
        [ngStyle]="{
          background: paper.methodColors[i]
        }"
        (click)="gotoMethod(method)"
      >
        {{ method }}
      </span>
    </div>
  </div>
  <div class="codes mt-10">
    <h2 class="title mb-2">Codes</h2>
    <div *ngFor="let task of this.paper.codes; index as i" class="code">
      <a class="url" [href]="task.url" [innerHTML]="task.shortened"></a>
      <div class="rating">{{ task.rating }}</div>
    </div>
  </div>
  <div class="related mt-10" *ngIf="this.relatedPapers.length">
    <h2 class="title mb-2">Related Papers</h2>
    <app-paper-info [papers]="this.relatedPapers"></app-paper-info>
  </div>
</main>
