.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .1);
  .text {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    $duration: 1s;
    span:nth-child(3) {
      color: orangered;
      animation: $duration linear infinite alternate loading;
    }
    span:nth-child(2) {
      color: olivedrab;
      animation: $duration linear infinite alternate loading;
    }
    span:nth-child(1) {
      color: royalblue;
      animation: $duration linear infinite alternate loading;
    }
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
