app-topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.methods {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: 64px;
  left: 10vw;
  width: 80vw;
  padding-bottom: 64px;

  .method {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin: 1em 0;
    padding: 1em;
    background: rgba($color: #ddd, $alpha: 0.4);
    transition: all .3s ease-out;
    &:hover {
      box-shadow: 2px 2px 2px 0px gray;
      transform: scale(1.05);
      cursor: pointer;
    }

    h2 {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 1.3em;
      margin-bottom: .8em;
      span {
        font-size: .7em;
        font-weight: normal;
        color: #747474;
      }
    }

    .pop-title {
      font-size: 1.2em;
      font-weight: bold;
    }

    .pop {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    markdown {
      font-family: Georgia, 'Times New Roman', Times, serif
    }
  }
}

mat-paginator {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
