mat-drawer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;

  mat-drawer {
    width: 20vw;
    overflow-x: hidden;
    transition: all .1s ease-out;
  }
}

.drag-handle {
  height: 100%;
  width: 5px;
  background: transparent;
  cursor: ew-resize;
  position: absolute;
  right: 0;
  top: 0;
}

.editor {
  min-height: 100vh;
  width: 100vw;

  .line,
  .line-content {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .line-number {
    margin-right: 2em;
  }

  span {
    font-family: monospace;
    font-size: 1.2em;
    letter-spacing: 0.1em;
  }
}

textarea {
  position: fixed;
  overflow: hidden;
  resize: none;
  width: 0.05em;
  height: 1.2em;
  border: none;
  outline: none;
  background: rgba($color: #FFFFFF, $alpha: 0.3);
  z-index: 10;
  &:focus {
    outline: none;
  }
}
