<app-topbar />
<mat-drawer-container autosize="true">
  <mat-drawer mode="side" [(opened)]="this.isDrawerOpen">
    <app-fs
      (fileSelected)="this.openFile($event)"
      (fileOpened)="this.fillText($event)"
    />
    <div class="drag-handle" (mousedown)="this.toggleDrag($event)"></div>
  </mat-drawer>
  <mat-drawer-content>
    <app-tagbar
      [tabs]="this.tabs"
      [activeTab]="this.activeTab"
      (tabClose)="this.closeTab($event)"
    ></app-tagbar>
    <div class="editor noselect {{this.tabs.length ? '' : 'hidden'}}" #editor>
      <div
        class="line"
        id="r{{ i }}"
        *ngFor="let line of this.lines; index as i"
      >
        <div class="line-number {{ this.cursorPos.row == i ? 'current' : '' }}">
          {{ i + 1 }}
        </div>
        <div class="line-content" id="rc{{ i }}">
          <span
            *ngFor="let char of line.split(''); index as j"
            id="c{{ i }}_{{ j }}"
            >{{ char === " " ? "&nbsp;" : char }}</span
          >
          <span id="c{{ i }}_{{ line.split('').length }}">&nbsp;</span>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
