.title {
  $duration: 1s;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  animation: $duration ease-out title-showup forwards;
  opacity: 0%;
  overflow: hidden;
  transition: all .3s ease-out;
  div {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    &:nth-child(3), &:nth-child(4) {
      font-size: 2em;
      font-weight: bold;
    }
  }

  .left-bg {
    animation: $duration ease-out title-showup forwards;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .right {
    animation: $duration ease-out title-showup forwards;
    position: absolute;
    width: inherit;
    height: inherit;
    transition: all 0.5s ease-out;
    // background: rgba(0, 0, 0, 0.5);
    circle, line {
      transition: all 0.5s ease-out;
    }
  }
}

@keyframes title-showup {
 0% {
  opacity: 0;
}

 100% {
  opacity: 100%;
 }
}

