<app-topbar />
<div class="title">
  <div class="left-bg">
    <div class="left">
      <div>Explainable,</div>
      <div>Customized,</div>
      <div>For Learners,</div>
      <div>By Learners.</div>
    </div>
  </div>
  <div class="right" #graphContainer>
    <!-- knowledge graph demo -->
  </div>
</div>
<div class="featured">
  <div class="papers">
    <h2>Featured Papers</h2>
    <app-paper-info [papers]="papers"></app-paper-info>
  </div>
  <div class="methods">
    <h2>Featured Methods</h2>
    <mat-chip-set>
      <mat-chip *ngFor="let method of methods">
        {{ method.name }}
      </mat-chip>
    </mat-chip-set>
  </div>
  <div class="tasks">
    <h2>Featured Tasks</h2>
    <mat-chip-set>
      <mat-chip *ngFor="let task of tasks">
        {{ task.name }}
      </mat-chip>
    </mat-chip-set>
  </div>
</div>
