/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.royalblue {
  color: royalblue;
  font-size: 1.1em;
}

span.short {
    font-weight: bold;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mat-drawer-inner-container, mat-drawer-content {
  overflow: hidden !important;
}

.katex-html {
  display: none !important;
}

.pop-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  span {
    transition: all .3s ease-out;
    color: whitesmoke;
    padding: 0.5rem 0.8rem;
    margin: 0.5rem;

    // border-radius: 2rem;
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
