<div class="title">User Folder</div>
<mat-tree
  [dataSource]="dataSource"
  [treeControl]="treeControl"
  class="example-tree"
>
  <!-- This is the tree node template for leaf nodes -->
  <!-- There is inline padding applied to this node using styles.
    This padding value depends on the mat-icon-button width. -->
  <mat-tree-node
    class="mat-tree-node"
    *matTreeNodeDef="let node"
    matTreeNodeToggle
    (click)="this.openFile(node)"
  >
    <span>{{ node.name }}</span>
    <button (click)="this.uploadToEval(node)" class="add-file">
      <mat-icon>upload</mat-icon>
    </button>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    class="mat-tree-node"
  >
    <div>
      <button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </button>
      <span>{{ node.name }}</span>
      <button (click)="this.addFile(node)" class="add-file">
        <mat-icon>description</mat-icon>
      </button>
      <button (click)="this.addFolder(node)" class="add-file">
        <mat-icon>create_new_folder</mat-icon>
      </button>
      <button (click)="this.uploadFile(node)" class="add-file">
        <mat-icon>cloud_upload</mat-icon>
      </button>
    </div>
    <!-- There is inline padding applied to this div using styles.
          This padding value depends on the mat-icon-button width.  -->
    <div
      [class.example-tree-invisible]="!treeControl.isExpanded(node)"
      role="group"
    >
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
<div class="overlay" *ngIf="newObject">
  <div class="add-new">
    <div class="add-new-title">Add new {{ newObject.type }}</div>
    <div class="add-new-body">
      <span>{{ newObject.parent }}</span>
      <label
        class="custom-file-upload"
        *ngIf="newObject.type == 'file by upload'"
        for="file"
      >
        <span *ngIf="!newObject.name.length">
          <mat-icon>cloud_upload</mat-icon> Upload file
        </span>
        <span *ngIf="newObject.name.length">
          {{ newObject.name }}
        </span>
      </label>
      <input
        [type]="
          newObject.type == 'file' || newObject.type == 'folder'
            ? 'text'
            : 'file'
        "
        [id]="
          newObject.type == 'file' || newObject.type == 'folder'
            ? 'text'
            : 'file'
        "
        class="add-new-body-input"
        [placeholder]="newObject.name"
        (input)="this.checkFileName()"
        (focus)="this.checkFileName()"
        (blur)="this.checkFileName()"
        (change)="onFileSelected($event)"
      />
      <div class="error-msg" *ngIf="newObject.errorMsg">
        {{ newObject.errorMsg }}
      </div>
    </div>
    <div
      class="progress"
      *ngIf="newObject.type == 'file by upload' && newObject.progress"
    >
      <mat-progress-bar
        mode="determinate"
        [value]="newObject.progress"
      ></mat-progress-bar>
      <span>{{ newObject.progress }}%</span>
    </div>
    <div class="add-new-body-buttons">
      <button mat-stroked-button color="primary" (click)="this.addNew()">
        Add
      </button>
      <button mat-stroked-button (click)="this.cancel()">Cancel</button>
    </div>
  </div>
</div>
<div class="overlay upload-eval" *ngIf="this.evalObject">
  <div class="add-new">
    <div class="add-new-title">Upload to Eval</div>
    <div class="add-new-body">
      <input
        type="input"
        class="add-new-body-input add-dataset"
        placeholder="Dataset Name"
        #datasetName
      />
      <div class="error-msg" *ngIf="evalErrorMsg">
        {{ evalErrorMsg }}
      </div>
    </div>
    <div class="add-new-body-buttons">
      <button mat-stroked-button color="primary" (click)="this.evalFile()">
        Upload
      </button>
      <button mat-stroked-button (click)="this.cancel()">Cancel</button>
    </div>
  </div>
</div>
<app-loading *ngIf="this.loading" />
